

<form method="POST" action="/puppy">
  name<input type="text" name="name" />
  <br>
  breed<input type="text" name="breed" />
  <br>
  age<input type="text" name="age" />
  <br>

  <button type="submit ">submit</button>
  <input type="submit" />

  <button>Submit</button>
     <input type="submit">Submit</input>
</form>
