<!doctype html>

<h1> Enter a new puppy plz </h1>

<form method=POST action='/'>
  <label>Name: <input type='text' name='name'></label>
  <label>Breed: <input type='text' name='breed'></label>
  <label>age: <input type='number' name='age'></label>
  <button type="submit" value='submit'>Submit!</button>
</form>
