<h1>Add a puppy</h1>
<form method=POST action="/new">
  <p>Name: <input type="text" name="name"></input></p>
  <p>Breed: <input type="text" name="breed"></input></p>
  <p>Age: <input type="text" name="age"></input></p>
  <button type="submit" value="submit">Submit</button>
</form>
