<!DOCTYPE html>
<html>
  <head>
    <title>Create Puppy</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
      <form action="/display_puppy" method="POST">
        <p>
          <label id="name">Name: </label>
          <input type="text" name="name" id="name">
        </p>
        <p>
          <label id="breed">Breed: </label>
          <input type="text" name="breed" id="breed">
        </p>
        <p>
          <label id="age">Age: </label>
          <input type="text" name="age" id="age">
        </p>
        <input type="submit" id="submit">
      </form>
  </body>
</html>
