<!DOCTYPE html>
<html>
  <head>
    <title>The Puppy!</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
      <p>
        Puppy Name: <%= @params[:name] %><br>
        Puppy Breed: <%= @params[:breed] %><br>
        Puppy Age: <%= @params[:age] %><br>
      </p>
  </body>
</html>
