<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Adoption Site</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  </head>

  <body>
      <h1>Welcome to the Puppy Adoption Site!</h1>
      <a href="/new">Click Here To List A Puppy</a>
  </body>
</html>
